body{
    background-image: url("../imgs/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.jumbotron{
       background-image: url("../imgs/header.jpeg");
       background-position: center;
       background-size: cover;
       background-repeat: no-repeat;
       padding: 10.5rem;
     
}

.p-text{
    margin:0;
 
}
.card-header{
    background-color: lightgray;
    color: maroon;
}